read: 1
write: 1
close: 1
stat: 1
fstat: 1
lstat: 1
lseek: 1
mmap: 1
mprotect: 1
munmap: 1
brk: 1
pread64: 1
access: 1
execve: 1
fcntl: 1
unlink: 1
chmod: 1
umask: 1
getrusage: 1
arch_prctl: 1
openat: 1
prlimit64: 1
exit_group: 1