read: 1
write: 1
close: 1
stat: 1
fstat: 1
lseek: 1
mmap: 1
brk: 1
fcntl: 1
unlink: return 1
chmod: return 1
umask: return 1
getrusage: 1
openat: 1
prlimit64: return 1
exit_group: 1
