#App {
  background-color:#1a1a20; 
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

 #code{ 
  background-color:#e0e0e0; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 90vw;
}

#submitButton{
  position: relative;
  top: 0.2cm;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 20vw;
  min-height: 4vh;
}

#newCellButton{
  position: relative;
  top: -0.4cm;
  display: inline-block;
  margin-left: 30vw;
  min-width: 20vw;
  min-height: 4vh;
  margin-top: 10px;
}

#DelCellButton{
  position: relative;
  top: -0.4cm;
  display: inline-block;
  min-width: 20vw;
  min-height: 4vh;
  margin-top: 10px;
}

#output_text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 90vw;
  
}


#Cell{
  margin-bottom: 0.4cm;
  margin-top: 0.4cm;
}

#XMMVal-2{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 7px 0px 6px;
  display: inline-block;
  min-width: 32vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-4{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 3px 0px 3px;
  display: inline-block;
  min-width: 16vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-8{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 1px 0px 1px;
  display: inline-block;
  min-width: 8vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-16{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 0 0px 0;
  display: inline-block;
  min-width: 4vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMName{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 0 0px 0;
  display: inline-block;
  margin: 10px 0 0 5vw;
  min-width: 5vw;
  min-height: 30px;
  border: 1px solid white;
}