#App {
  background-color:#1a1a20; 
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 100vh;
  min-width: 100vw;
}

 #code{ 
  background-color:#e0e0e0; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 90vw;
}

.submitContainer{
  position: relative;
  min-width: 90vw;
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

#submitButton{
  margin-top: auto;
  position: relative;
  padding: 8px 6px;
}

.newCellContainer{
  position: relative;
  min-width: 90vw;
  min-height: 4vh;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 1.5vh; */
}

.newCellContainer .btn-newCell{
  position: relative;
  min-height: 3vh;
  /* margin-top: ; */
  display: none;
}

.newCellContainer:hover .btn-newCell{
  display: inline-block;
  
}

.delCell{
  max-width: 0;
  max-height: 0;
}

#delCellButton{
  position: relative;
  left: 92vw;
  top: -10px;
  display: inline-block;
}



.copyContainer{
  position: relative;
  min-width: 90vw;
  min-height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 2vh; */
}

#copyToClipButton{
  
  position: relative;
  padding: 8px 6px;
}

.outputContainer{
  position: relative;
  margin-top: 1vh;
  min-width: 90vw;
  min-height: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#output_text{
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
  min-width: 90vw;
  
}


#Cell{
  display: block;
  /* margin-bottom: 1vh; */
  /* margin-top: 1vh; */
  /* margin-bottom: 0.4cm; */
  /* margin-top: 0.4cm; */
}

#XMMVal-2{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 7px 0px 6px;
  display: inline-block;
  min-width: 32vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-4{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 3px 0px 3px;
  display: inline-block;
  min-width: 16vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-8{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 1px 0px 1px;
  display: inline-block;
  min-width: 8vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMVal-16{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 0 0px 0;
  display: inline-block;
  min-width: 4vw;
  min-height: 30px;
  border: 1px solid white;
}

#XMMName{
  color: white;
  background: rgb(24, 30, 110);
  font-size: normal;
  text-align: center;
  padding: 15px 0 0px 0;
  display: inline-block;
  margin: 10px 0 0 5vw;
  min-width: 5vw;
  min-height: 30px;
  border: 1px solid white;
}